#title{
  font-size: 50px;
  text-align:center;
  background-color: #696969;
  color: white !important;
  text-decoration: none;
  font-family: 'Changa One', cursive, sans-serif;
  padding: 5px;
  a{
    color:white;
  }
}
