.wrapper{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}


.wrapper-top{
  margin: 35vh auto !important;
  width: 30%;
  align-items: center;
  flex-direction: column;
  text-align: center;
}



.main{
  min-height : calc(100vh - 40px);
}
button{
  border: none;
}

.container{
  width: 40%;
  margin : auto 0;
}

body {
  
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
}

h2 {
  text-align: center;
  background-color: rgb(203, 229, 240);
  font-size: 30px !important;
  color: #3f3f3f;
  display: block;
  padding: 10px !important;
}

.field{
  margin: 20px;
  text-align: center;
}
.center{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.actions{
  text-align: center;
  margin: 40px 0;
}

.form-field{
  text-align: center;
  margin: 0 auto;
}

input[type="submit"]{
  padding: 8px;
}

.error-message{
  color: red;
}

.show{
  text-align: center;
}


/* ログイン状態 */

.navbar-nav{
  display: flex;
  justify-content: space-between;
}


/* ボックス */
.box {
  background: #dcefff;
  width: 40%;
  min-height: 50vh;
  max-height: 100vh;
  margin: 2em auto;
  overflow: scroll;
}
.box .box-title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box p {
  padding: 15px 20px;
  margin: 0;
}

#edit-btn{
  display: block;
  margin: 0 auto;
  margin-top:30px;
  width: 30%;
  min-width: 20vw;
}

.two-container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 20px;
}

/* ボックス */

/* ボックス２ */

.box2 {
  position: relative;
  width: 40%;
  height: 20% !important;
  max-height: 100vh;
  margin: 40px auto;
  text-align: center;
  padding: 0.5em 1em;
  border: solid 3px #62c1ce;
  padding:30px;
  overflow: scroll;
  .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  p {
    margin: 0; 
    padding: 0;
  }
  .m-auto{
    margin: 0 auto;
  }
}


/* ボックス２ */



@media (max-width: 1000px) {


  .wrapper {
    display: block;
  }
  .box2, .box{
    width: 80%;
    margin: 40px auto;
  }
  .card{
    margin :40px auto !important;
  }
  #edit-btn{
    width: 70%;
    margin-top: 70px;
  }
  .show-container {
    display: block;
  }
  .card{
    width: 80% !important;
    margin: 0 auto;

  }
  .new_user{
    float: left;
    padding: 30px 0;
  }
  .new_user .field{
    margin: 30px 0;
  }
  #h3{
    display: block;
    width: 70% !important;
    
  }
}


// @media
#h3{
  font-size: 30px !important;
  display: block;
  text-align: center;
  margin: 20px auto;
  width: 20%;
}


.card{
  width: 40%;
  min-height: 50vh;
  max-height: 100vh;
}


.show-sub{
  display:block;
  text-align: left;
  margin:30px;
}
.enter-true{
  box-shadow: 2px 2px 4px 2px orange inset;;
}
.box{
  display: flex;
}

.box3 {
  padding: 0.5em 1em;
  margin: 2em 0;
  width: 50%;
  margin: 0 auto;
  min-height: 50vh;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}
.box3 p {
  margin: 0; 
  text-align: center;
  padding: 0;
}





.index-space {
  width: 30%;
  margin: 0 auto;
  font-size: 20px;
  padding: 20px 5px;
}
.index-space a{
  color: black;
}
.index-space a:hover{
  color: black;
  opacity: .8;
}


h2 .btn{
  margin: 30px;
}

.chat-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}


@media (max-width: 800px) {
  .chat-wrapper {
    display: block;
  }
  .contain{
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    border: 2px solid cadetblue;
    padding: 10px;
}
}
@keyframes show{
  0% {
      opacity: 0;
      transform: translateY(0)
  }
  100% {
      opacity: 1;
      transform: translateY(30px);
  }
}




.edit-box{
  width: 100%;
  box-shadow:0px 0px 12px 8px #ccc;
}

.act{
  display: block;
  animation: show .5s linear 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.btn-close{
  display:block;
  margin-left: auto;
}

.card-body{
  
  text-align: left;
  width: 100%;
  overflow: scroll;
}

.card-text{
  display: block;
  width: 40%;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 20px;
}

.card-word{
  padding: 8px;
}

.card-tag{
  color: black;
}
.card-tag:hover{
  color: black;
}


.index-space {
  width: 30%;
  margin: 0 auto;
  font-size: 20px;
  padding: 20px 5px;
}
.index-space a{
  color: black;
}
.index-space a:hover{
  color: black;
  opacity: .8;
}


h2 .btn{
  margin: 30px;
}

.chat-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}


.swich{
  margin : 0 auto;
  width: 50%;
  text-align: center;
}



.show-sub{
  display:block;
  text-align: left;
  margin:30px;
}

.box3 {
  padding: 0.5em 1em;
  margin: 2em 0;
  width: 50%;
  margin: 0 auto;
  min-height: 50vh;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}
.box3 p {
  margin: 0; 
  text-align: center;
  padding: 0;
}

.prev , .next{
  font-size: 30px !important;
  color: #3f3f3f;
}




.box4{
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}
.box4 p {
  margin: 0; 
  padding: 0;
}

.comment{
  border-bottom: solid 1px skyblue;
}